.result-area {
    height: 44vh;
}
.result-pagination {
    width: 50%;
    margin: 2% auto 2% auto;


    .MuiPagination-ul {
        width: fit-content;
        margin: auto;
    }

    .MuiPaginationItem-root {
        color: whitesmoke;
        
    }
    .MuiPaginationItem-page.Mui-selected, .MuiPaginationItem-page.Mui-selected:hover {
        background-color: gray
    }
}

