.search-content {

    margin: auto;
    padding: auto;
    padding-bottom: 5%;
    align-items: center;
    width: 100%;
    height: 100vh;

    .search-grid {
        margin: auto;
        width: 100%;
    }

    .site-title {
        margin: auto;
        width: 100%;
        color: whitesmoke;
        letter-spacing: 5em;
    }
}

